@import '~vuetify/src/styles/tools/_functions.sass';
@import "headings-em";

$utilities-em: () !default;
$utilities-em: map-deep-merge(
                (
                        "typography": (
                                responsive: true,
                                property: (
                                        font-size,
                                        font-weight,
                                        line-height,
                                        letter-spacing,
                                        font-family,
                                        text-transform
                                ),
                                class: text,
                                unimportant: (
                                        font-weight,
                                        line-height
                                ),
                                values: $typography-em
                        )
                ),
                $utilities-em
);
