$guest-font: KindlyJasmineG;
$main-font: Neothic;
$font-size-factor: 1;

$xl-font-size-factor: $font-size-factor * 4;
$lg-font-size-factor: $font-size-factor * 2.6;
$md-font-size-factor: $font-size-factor * 2;
$sm-font-size-factor: $font-size-factor * 1;
$xs-font-size-factor: $font-size-factor * 0.7;

