$guest-font: KindlyJasmineG;
$main-font: Neothic;
$info-font-size-factor: 0.7;
$font-size-factor: 1;

$xl-font-size-factor: $font-size-factor * 4;
$lg-font-size-factor: $font-size-factor * 2.6;
$md-font-size-factor: $font-size-factor * 2;
$sm-font-size-factor: $font-size-factor * 1.3;
$xs-font-size-factor: $font-size-factor * 0.6;

:export {
  xlFontSizeFactor: $xl-font-size-factor;
  lgFontSizeFactor: $lg-font-size-factor;
  mdFontSizeFactor: $md-font-size-factor;
  smFontSizeFactor: $sm-font-size-factor;
  xsFontSizeFactor: $xs-font-size-factor;
}